<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/2275.png" alt="Weather" title="Today-Weather" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my Today-Weather page</p>
                        <h1>This is a simple Weather app and show realtime Weather<span class="txt_clr">Technology used HTML,CSS,JavaScript and NodeJS</span>,fully responsive website </h1>
                        <a href="https://coding-chunks.github.io/My-Resume/" target="_Weather"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ group
        </p>
    </footer>
</body>

</html>